<!DOCTYPE html>
<html>
<head>
	<title>homework</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/css/IMSatomic.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/css/main.css">
	<script src="js/game.js"></script>
</head>
<body>
	<div id="container" class="flex_column flex-center-all height-all-screen">
		<div class="wrapper">
			<div class="controll flex_row space-between">
				<button id="start">Commencer</button>
				<div><label>Timer <input id='timer' type="text" value="0 ms" readonly="readonly"></label></div>
				<div><label>Score <input id='score' type="text" value="0" readonly="readonly"></label></div>
			</div>
			<div class="min_space"></div>
			<div class="square bg_blue">
				<div id="ball" class="ball relative bg_red border-rounded"></div>
			</div>
		</div>
	</div>
	<script>
		var game=new Game({
			score:'score',
			timer:'timer'
		});
		document.querySelector('#ball').onclick=function(){game.incrementScore();};
		game.hideBall();
	</script>
</body>
</html>